html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
    height: 100%;
    background: #222;
    overflow: hidden;
}

.page-container {
    position: relative;
    height: 100%;
}

.info-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-overlay .show {
    opacity: 1;
}

@keyframes hide-animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.run-hide {
    animation: hide-animation 1.1s ease-in;
}

.info-box {
    background: #fff;
    padding: 0.2em 0.5em;
    border-radius: 5px;
    font-size: larger;
    opacity: 0;
}

.terminal-container {
    height: 100%;
}

.xterm-helper-textarea {
    /* workaround xterm issue #3034 */
    width: 0 !important;
}

.xterm .xterm-viewport {
    overflow-y: hidden;
}